*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-size: 100%;
}

body {
    height: 100vh;
    overflow: hidden;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
}

.imagens-container{
    display: flex;
    flex: 1;
    justify-content: center;
    height: 100vh;
    padding-left: 680px;
    width: 100%;
}

#team-img{
    background-color: pink;
    width: 100%;
    height: 931px;
    background-image: url('../assets/frufru.png');
    display: flex;
}

.descricao {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 32px;
    padding-right: 32px;
}

.descricao >h2 {
    background-color: aqua;
    font-size: 52px;
    display: flex;
    flex-direction: column;
    padding-left: 130px;
}

.descricao >p {
    background-color: plum;
    font-size: 19px;
    display: flex;
    flex-direction: column;
}
#purple-text {
    color: #5D4895;
}

#enter-button {
    display: flex;
}


