*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-size: 100%;
}

body {
    height: 100vh;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.div-pai {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.div-principal {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imagens-container{
    display: flex;
    flex: 1;
    justify-content: center;
    height: 100vh;
    padding-left: 680px;
    width: 100%;
}

#team-img{
    width: 100%;
    height: 931px;
    background-image: url('../assets/frufru.png');
    display: flex;
}

.descricao {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 32px;
    padding-right: 32px;
    gap: 32px;
    margin-left: 60px;
    align-items: center;
}

.descricao >h2 {
    font-size: 52px;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.descricao >p {
    font-size: 19px;
    display: flex;
    flex-direction: column;
}
#purple-text {
    color: #5D4895;
}

#enter-button {
    width: 190px;
}

#logo-container {
    display: flex;
    align-items: center;
    font-size: 105px;
    gap: 32px;
    color: #5D4895;
}

.top-header {
    margin-left: 12px;
    margin-top: 12px;
    display: flex;
    align-items: center;
    font-size: 25px;
    color: #5D4895;
    flex-direction: row;
    gap: 12px;
}