.login-container{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.card-main{
    margin: 0 50px;
    display: flex;
    justify-content: space-around;
   padding: 22px;
    width: 597px;
    height: 390px;
    border-radius: 28px;
    flex-direction: column;
    background: rgba(242, 242, 242, 0.68);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.title-oak > h1 {
    height: 35px;
    color: #5D4895;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}


.purple-circle{
    background-color: #6F5BA4;
    height: 500px;
    width: 50em;
    border-radius: 60%;
    filter: blur(60px);
    position: absolute;
}

.purple-circle.top{
    right: -250px;
    top: -250px;
}

.purple-circle.bottom{
    left: -300px;
    bottom: -220px;
}

.float-right {
    float: right;
}